<div style="border: 2px solid red; 
border-radius: 25px; text-align:center; background-color:orange;">


All courses
</div> <br>

<% @courses.each do |course| %>
    <div style="border: 2px solid red;display:no; 
    border-radius: 25px; text-align:center; background-color:orange; color:blue;">
    <p> Course Name:<%= link_to course.course_name, course_path(course)%> </p>
    
    <%end%>

    <h6 style="border: 2px solid black; 
    border-radius: 2px; text-align:center; background-color:black;">
    
    <%=link_to 'Add a Course',new_course_path%> 
    
    </h6><br>
    
    