
<h6>Course Name: <%=@course.course_name%></6>
<h6>Profesor Name: <%=@course.profesor_name%></h6>
<h6>Course Length: <%=@course.course_length%></h6>
<h6>Number of Videos :<%=@course.number_videos%></h6>
